html, body {
  font-size: 16px;
  height: 100%;
}

body {
  background-image: url("../images/space.jpeg");
  background-size: cover;
  width: 100%;
}

h1 {
  color: white;
  font-family: "OCR A Std";
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  opacity: .76;
}

.main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  color: white;
  font-family: "Baloo";
  font-size: .9rem;
  letter-spacing: 2px;
  background-color: rgba(59, 50, 67, 1);
  border-radius: 40px;
  padding: 1.4rem 2rem;
  opacity: .76;
  margin-top: 2rem;
  display: block;
}

a {
  text-decoration: none;
}
