html, body {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../images/splash.jpg");
  background-size: cover;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.sub {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  background-color: rgba(59, 50, 67, 1);
  width: 80%;
  height: 80%;
  opacity: .6;
}

p {
  color: white;
}

h1 {
  color: FFFFFF;
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  opacity: .78;
}
