
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Establishing downlink...</title>
  </head>
  <body>
    <div class="main">
      <div class="section">
        <div class="form">
          <form action="/login" method="POST">
            <label>Username:</label><br/>
            <input type="text" name="username"/><br/><br/><br />
            <label>Password:</label><br/>
            <input type="password" name="password"/><br/><br/><br/>
            <input type="submit" value="Log In"/>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
