<!doctype html>
<html>
  <head>
    <title>Downlink established.</title>
  </head>
  <body>



<h1>Downlink established for:</h1>
<h2><%= @user.username %></h2>

<a href="/downlinks/new">Transmit New Message</a><br><br>

<%@user.downlinks.each do |downlink|%>
<a href="/downlinks/<%=downlink.id%>"><%=downlink.title%><br>
       <%end%>






</html>
