<!doctype html>
<html>
  <head>
    <title>Establishing downlink...</title>
  </head>
  <body>
    <h2>Create an account to establish your downlink:</h2>

    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username"></p>
      <input type="password" name="password" placeholder="Password">
      <input type="submit">
    </form>







</html>
