<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Establishing downlink...</title>
  </head>
  <body>
    <div class="main">
      <h1>Create an account to establish your downlink.</h1><br>
      <div class="form">
        <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
          <div class="button">
            <input type="submit">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
