<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Downlink established.</title>
  </head>
  <body>
    <div class="main">
      <div class="sub">
        <h2>Create a new downlink.</h2>
        <%=Time.now%><br><br>
        <form action="/downlinks/new" method="POST">
        <input type="text" name="title" size="29" placeholder="Transmission Title" required> Singal Strength: <input type="number" name="signal_strength" min="1" max="100" placeholder="%" required><br>
        <br>
        <textarea name="message" cols=50 rows=10 placeholder="Message to transmit" required></textarea><br>

            <input type="submit">

        </form>
        <a href="/users/<%=current_user.slug%>">Abort</a>
      </div>
    </div>
  </body>
</html>
