<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Establishing downlink...</title>
  </head>
  <body>
    <div class="main">
      <div class="about">
        <div class="downlink">
          <h1>What is downlink?</h1><br>
          <p>Downlink is based on the widely accepted idea that keeping track of your thoughts
          and emotions is an effective means of managing your overall mental health. Getting these
          feelings out of your head and down into words will help you prioritize problems or fears - tracking
          these issues day-to-day allows you to better identify and control behaviors and triggers.<br><br>
          Downlink is meant to be a short-form journal. Quickly record thoughts, feelings, or emotions. Set your signal
          strength to match your overall mood.</p>
        </div>
        <p><a href="/">Back</p>
      </div>
    </div>
  </body>
</html>
