<!doctype html>
<html>
  <head>
    <title>Establishing downlink...</title>
  </head>
  <body>
    <h1>Welcome to downlink.</h1>

      <a href="user/new">Create Account</a>
      <a href="user/login">Sign In</a>

</html>
