<!doctype html>
<html>
  <head>
    <title>Establishing downlink...</title>
  </head>
  <body>
    <img src="/public/images/logo.png" alt="downlink" height="50" width="50">
    <h1>Welcome to downlink.</h1>

      <a href="/signup">Create Account</a> |
      <a href="/login">Sign In</a> | 
      <a href="/logout">Logout</a>

</html>
