<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <title>Establishing downlink...</title>
  </head>
  <body>
    <div class="main">
      <h1>Establishing downlink...</h1><br>
      <p><a href="/signup">Create an account</p>
      <% if logged_in? %>
      <p><a href="/users/<%=current_user.slug%>">Control Panel</p>
      <p><a href="/logout">Logout</p>
      <% else %>
      <p><a href="/login">Sign In</p>
      <% end %>
    </div>
  </body>
</html>
