<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Establishing downlink...</title>
  </head>
  <body>
    <div class="main">
      <div class="jumbotron">
        <h1>Establishing downlink...</h1>
        <a href="/signup"><span class="button">Create an account</span></a>
        <% if logged_in? %>
        <a href="/users/<%=current_user.slug%>"><span class="button">Control Panel</span></a>
        <a href="/logout"><span class="button">Logout</span></a>
        <% else %>
        <a href="/login"><span class="button">Sign In</span></a>
        <% end %>
      </div>
    </div>
  </body>
</html>
